HELP.md
out/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Jupyter Notebook ###
.ipynb_checkpoints/


# react
/webApp/node_modules
/webApp/.pnp
webApp/.pnp.js
/webApp/coverage
/webApp/build

webApp/.DS_Store
webApp/.env.local
webApp/.env.development.local
webApp/.env.test.local
webApp/.env.production.local

webApp/npm-debug.log*
webApp/yarn-debug.log*
webApp/yarn-error.log*